In [2]:
import pandas as pd
import matplotlib.pyplot as pt
import seaborn as sns

In [6]:
df = pd.read_csv("personal_salary_data_cleaned.csv")

In [8]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'hourly', 'employer_provided', 'min_salary', 'max_salary', 'avg_salary',
       'company_txt', 'job_city', 'job_state', 'same_state', 'age',
       'python_yn', 'spark', 'aws', 'excel'],
      dtype='object')